.shop {
    display: flex;
    gap: 50px;
}

.shop .sidebar {
    max-width: 244px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.shop .sidebar .search {
    position: relative;
}

.shop .sidebar .search .search-row {
    padding: 0 25px 15px 0;

}

.shop .sidebar .search .search-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.shop .sidebar .sidebar-item {
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.shop .sidebar .sidebar-item .button {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    border: none;
    background: rgba(0, 0, 0, 1);
    padding: 17px 74px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.shop .sidebar .sidebar-item .sidebar-title {
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    padding-bottom: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .custom-list{
    margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .price-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox {
   position: absolute;
   z-index: -1;
   opacity: 0; 
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(238, 238, 238, 1);
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name {
    color: rgba(255, 142, 142, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name::before {
    background-image: url(../icons/check-pink.svg);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product-card {
   display: flex;
   gap: 15px;
   align-items: center;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product-card .image {
    width: 75px;
    height: 75px;
    background: rgba(241, 242, 243, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product-card .info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product-card .info .name {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(68, 68, 68, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product-card .info .price {
    gap: 10px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product-card .info .price .current-price{
    font-size: 14px;
    line-height: 14px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product-card .info .price .old-price {
    font-size: 12px;
    line-height: 12px;
    text-decoration: line-through;
}

.shop .products-wrapper {
    max-width: 846px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shop .products-wrapper .sort-and-count {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.shop .products-wrapper .sort-and-count .bold {
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
}

.shop .products-wrapper .sort-and-count .sort {
    max-width: 262px;
    width: 100%;
}

.shop .products-wrapper .sort-and-count .sort .input {
    color: #000000;
}

.shop .products-wrapper .showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
}

.shop .products-wrapper .showcase .product-card {
    max-width: 262px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.shop .products-wrapper .showcase .product-card .photo {
    height: 22.5rem;
    background: #F1F2F3;
    position: relative;
}

.shop .products-wrapper .showcase .product-card .photo .top-bar {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 222px;
}

.shop .products-wrapper .showcase .product-card .photo .top-bar .labels {
    display: flex;
    gap: 15px;
}

.shop .products-wrapper .showcase .product-card .photo .top-bar .labels .label {
    font-weight: 800;
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 5px 10px;
    background: rgba(255, 142, 142, 1);
}

.shop .products-wrapper .showcase .product-card .photo .top-bar .labels .label.new {
    background: rgba(149, 204, 181, 1);
}

.shop .products-wrapper .showcase .product-card .info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.shop .products-wrapper .showcase .product-card .info .name {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.shop .products-wrapper .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.shop .products-wrapper .pagination .pages {
    display: flex;
    gap: 20px;
}

.shop .products-wrapper .pagination .pages .page {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    height: 25px;
    opacity: 0.5;
    width: 10px;
    text-align: center;
}

.shop .products-wrapper .pagination .pages .page.active {
    opacity: 1;
    font-family: Raleway;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    width: 22px;
    text-align: center;
}