.footer {
    border-top: 20px solid rgba(238, 238, 238, 1);
    position: relative;
}

.footer .footer-info {
    margin: 110px 0 90px 0;
    display: flex;
}

.footer .footer-info .column .title,
.footer .footer-info .column .title {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.footer .footer-info .column.column-1 {
    max-width: 331px;
    margin: 0 60px 0 0;
}

.footer .footer-info .column.column-2 {
    margin: 0 108px 0 0;
}

.footer .footer-info .column.column-3 {
    margin: 0 74px 0 0;
    max-width: 119px;
    width: 100%;
}

.footer .footer-info .column.column-2,
.footer .footer-info .column.column-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.footer .footer-info .column .custom-list {
    gap: 12px;
}

.footer .footer-info .column .custom-list .item {
    gap: 12px;
} /* TODO: разобраться почему данный gap не встает и Shippin Details уходит на 2 строки */

.footer .footer-info .column .custom-list .item:before {
    width: 3px;
    height: 3px;
}

.footer .footer-info .column .custom-list a {
    text-decoration: none;
    color: rgba(68, 68, 68, 1);
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    text-align: left;
}

.footer .footer-info .column.column-4 {
    max-width: 361px;
}

.footer .footer-info .column.column-4 .title {
    margin: 0 0 16px 0;
}

.footer .footer-info .column.column-4 .newsletter-text {
    margin: 0 0 36px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
}

.footer .footer-info .column.column-4 .newsletter-form {
    position: relative;
}

.footer .footer-info .column.column-4 .newsletter-form .input {
    padding-right: 30px;
}

.footer .footer-info .column.column-4 .newsletter-form .send-icon {
    position: absolute;
    right: 0;
}

.footer .footer-info .column .logo {
    margin: 0 0 25px 0;

}

.footer .footer-info .column .about-brand {
    padding: 0 0 25px 0;
    border-bottom: 1px solid rgba(68, 68, 68, 20%);
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(68, 68, 68, 1);
}

.footer .copyright {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-top: 1px solid rgba(68, 68, 68, 20%);
    padding-top: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(68, 68, 68, 1);
}

.footer .copyright .payment-methods-container {
    display: flex;
    gap: 13px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(68, 68, 68, 1);

}

.footer .copyright .payment-methods-container .payment-methods{
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer .decor-bubbles .decor-bubbles-5 {
    position: absolute;
    top: 30px;
    left: 30px;
}

.footer .decor-bubbles .decor-bubbles-10 {
    position: absolute;
    top: 85px;
    right: 50px;
}