.footer {
    border-top: 20px solid rgba(238, 238, 238, 1);
    position: relative;
}

.footerInfo {
    margin: 110px 0 90px 0;
    display: flex;
}

.title {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.column1 {
    max-width: 331px;
    margin: 0 60px 0 0;
}

.column2 {
    margin: 0 108px 0 0;
}

.column3 {
    margin: 0 74px 0 0;
    max-width: 119px;
    width: 100%;
}

.column2,
.column3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column .custom-list {
    gap: 12px;
}

.column .custom-list .item {
    gap: 12px;
}

.column .custom-list a {
    text-decoration: none;
    color: rgba(68, 68, 68, 1);
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    text-align: left;
}

.column4 {
    max-width: 361px;
}

.column4 .title {
    margin: 0 0 16px 0;
}

.column4 .newsletterText {
    margin: 0 0 36px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
}

.column4 .newsletterForm {
    position: relative;
}

.column4 .newsletterForm .input {
    padding-right: 30px;
}

.sendIcon {
    position: absolute;
    right: 0;
}

.logo {
    margin: 0 0 25px 0;
}

.aboutBrand {
    padding: 0 0 25px 0;
    border-bottom: 1px solid rgba(68, 68, 68, 20%);
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(68, 68, 68, 1);
}

.copyright {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-top: 1px solid rgba(68, 68, 68, 20%);
    padding-top: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(68, 68, 68, 1);
}

.paymentMethodsContainer {
    display: flex;
    gap: 13px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(68, 68, 68, 1);
}

.paymentMethods {
    display: flex;
    gap: 8px;
    align-items: center;
}

.decorBubbles5 {
    position: absolute;
    top: 30px;
    left: 30px;
}

.decorBubbles10 {
    position: absolute;
    top: 85px;
    right: 50px;
}

.findUsText {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    margin: 0 0 20px 0;
}

.findUsLinks {
    display: flex;
    gap: 15px;
    align-items: center;
}

.findUsLink a {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgba(68, 68, 68, 1);
}

.findUsLinks .line {
    border-bottom: 1px solid #444444;
    height: 1px;
    width: 10px;
    align-items: center;
}